# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
weather_df = pd.read_csv('output_data/cities.csv')

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Lamar,90,US,1584760492,81,33.67,-95.58,45.00,12.75
1,1,Codrington,100,AU,1584760492,71,-38.27,141.97,57.65,8.95
2,2,Lerwick,0,GB,1584760492,55,60.15,-1.15,39.20,6.93
3,3,Hilo,90,US,1584760460,78,19.73,-155.09,73.99,6.80
4,4,Mehamn,99,NO,1584760238,83,71.04,27.85,22.37,19.62
...,...,...,...,...,...,...,...,...,...,...
573,573,Sechura,2,PE,1584760533,90,-5.56,-80.82,74.21,2.66
574,574,Omboué,100,GA,1584760533,92,-1.57,9.26,72.41,4.00
575,575,Sept-Îles,90,CA,1584760534,100,50.20,-66.38,30.20,8.05
576,576,Christchurch,100,NZ,1584760338,77,-43.53,172.63,63.00,28.86
577,577,Garmsār,60,IR,1584760534,28,35.22,52.34,56.93,6.26

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [110]:
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weather_df[["Lat", "Lng"]]

# Store ratings, replace any NaN, and then convert to float
humidity = weather_df["Humidity"]

In [112]:
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=weather_df.Humidity.max(),
                                 point_radius=2)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# This heatmap seems very red, so I wan't to inspect the humidity a bit further
print('Mean Humidity of our sampled cities: ', round(weather_df.Humidity.mean(),1))
print('Median Humidity of our sampled cities: ', weather_df.Humidity.median())
print('Mode Humidity of our sampled cities: ', weather_df.Humidity.mode())

Mean Humidity of our sampled cities:  72.5
Median Humidity of our sampled cities:  77.0
Mode Humidity of our sampled cities:  0    92
dtype: int64

In [22]:
# Wow, look at that Median and Mode, no wonder the map is so red
# That makes me want to see the top 20 Modes...
weather_df.Humidity.value_counts().head(20)

92     27
83     26
93     22
80     21
87     17
78     17
85     15
75     14
69     14
64     13
91     13
88     13
62     12
65     12
68     12
82     12
100    11
84     11
90     11
66     11
Name: Humidity, dtype: int64

In [113]:
# Wow, not a single huidity below 60% in the top 20! 
# I feel like it'll be more telling if we use the heatmap to show where ISN'T humid
fig = gmaps.figure()

# Create heat layer
inverse_heat_layer = gmaps.heatmap_layer(locations, weights=(100-humidity)**2, 
                                 dissipating=False, 
                                 max_intensity=(100-weather_df.Humidity.min())**2,
                                 point_radius=3)

fig.add_layer(inverse_heat_layer)
print('So here is a heatmap of the driest cities:')
fig

So here is a heatmap of the driest cities:

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [94]:
ideal_weather_df = weather_df.loc[(weather_df['Max Temp']>78) & 
                                  (weather_df['Max Temp']<84) & 
                                  (weather_df['Humidity']<70) & 
                                  (weather_df['Humidity']>50) &
                                  (weather_df['Cloudiness']<50) & 
                                  (weather_df['Wind Speed']<15)]

IN    3
AU    1
US    1
NI    1
PG    1
AE    1
MM    1
TH    1
ID    1
Name: Country, dtype: int64

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
46,46,Tuni,0,IN,1584760496,60,17.35,82.55,79.97,3.87
95,95,Kahului,40,US,1584760499,65,20.89,-156.47,80.60,8.05
110,110,Sabang,10,ID,1584760500,66,5.89,95.32,83.57,11.63
129,129,Lorengau,42,PG,1584760501,68,-2.02,147.27,83.93,4.16
131,131,Geraldton,0,AU,1584760501,65,-28.77,114.60,80.01,12.75
177,177,Mae Sai,0,TH,1584760504,57,20.43,99.88,82.00,2.24
189,189,Dawei,0,MM,1584760506,69,14.08,98.20,79.61,3.06
190,190,Nāyudupet,20,IN,1584760506,69,13.90,79.90,82.40,9.17
345,345,San Rafael del Sur,20,NI,1584760517,69,11.85,-86.44,80.60,11.41
412,412,Abu Dhabi,40,AE,1584760515,61,24.47,54.37,78.01,10.29
502,502,Port Blair,39,IN,1584760275,66,11.67,92.75,80.87,4.79

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels within 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [103]:
ideal_weather_df = ideal_weather_df.reset_index()
hotel_df = ideal_weather_df[['City', 'Country', 'Lat', 'Lng']]
hotel_df['Hotel Name'] = ""
hotel_df

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                  City Country    Lat     Lng Hotel Name
0                 Tuni      IN  17.35   82.55
1              Kahului      US  20.89 -156.47
2               Sabang      ID   5.89   95.32
3             Lorengau      PG  -2.02  147.27
4            Geraldton      AU -28.77  114.60
5              Mae Sai      TH  20.43   99.88
6                Dawei      MM  14.08   98.20
7            Nāyudupet      IN  13.90   79.90
8   San Rafael del Sur      NI  11.85  -86.44
9            Abu Dhabi      AE  24.47   54.37
10          Port Blair      IN  11.67   92.75

In [105]:
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "luxury+hotel",
    "key": g_key,
} 

# use iterrows to iterate through pandas dataframe
for x, row in hotel_df.iterrows():

    # get restaurant type from df
    lat = row['Lat']
    lng = row['Lng']
    
    # add keyword to params dict
    params['location'] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {x}: {row['City']}.")
    base_url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"{row['City']}s nearest luxury hotel is {results[0]['name']}.")
        
        hotel_df.loc[x, 'Hotel Name'] = results[0]['name']
           
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

# let's see it          
hotel_df

Retrieving Results for Index 0: Tuni.
Tunis nearest luxury hotel is mjr dormitory.
------------
Retrieving Results for Index 1: Kahului.
Kahuluis nearest luxury hotel is Paia Inn.
------------
Retrieving Results for Index 2: Sabang.
Sabangs nearest luxury hotel is Mrbeanresort.
------------
Retrieving Results for Index 3: Lorengau.
Lorengaus nearest luxury hotel is Seeadler Bay Hotel.
------------
Retrieving Results for Index 4: Geraldton.
Geraldtons nearest luxury hotel is Ocean Centre Hotel.
------------
Retrieving Results for Index 5: Mae Sai.
Mae Sais nearest luxury hotel is TEVA Valley Resort.
------------
Retrieving Results for Index 6: Dawei.
Daweis nearest luxury hotel is The Mandolis Hotel and Restaurant.
------------
Retrieving Results for Index 7: Nāyudupet.
Nāyudupets nearest luxury hotel is Hotel Manju.
------------
Retrieving Results for Index 8: San Rafael del Sur.
San Rafael del Surs nearest luxury hotel is Barceló Montelimar.
------------
Retrieving Results for Index 9: Abu Dhabi.
Abu Dhabis nearest luxury hotel is Emirates Palace.
------------
Retrieving Results for Index 10: Port Blair.
Port Blairs nearest luxury hotel is SeaShell Port Blair.
------------

,City,Country,Lat,Lng,Hotel Name
0,Tuni,IN,17.35,82.55,mjr dormitory
1,Kahului,US,20.89,-156.47,Paia Inn
2,Sabang,ID,5.89,95.32,Mrbeanresort
3,Lorengau,PG,-2.02,147.27,Seeadler Bay Hotel
4,Geraldton,AU,-28.77,114.60,Ocean Centre Hotel
5,Mae Sai,TH,20.43,99.88,TEVA Valley Resort
6,Dawei,MM,14.08,98.20,The Mandolis Hotel and Restaurant
7,Nāyudupet,IN,13.90,79.90,Hotel Manju
8,San Rafael del Sur,NI,11.85,-86.44,Barceló Montelimar
9,Abu Dhabi,AE,24.47,54.37,Emirates Palace
10,Port Blair,IN,11.67,92.75,SeaShell Port Blair

In [115]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [117]:
fig = gmaps.figure()

# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(markers)
fig.add_layer(heat_layer)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))